* {
  box-sizing: border-box;
  outline:    none;
}

body, html {
  height: 100%;
}

body {
  display:        flex;
  flex-direction: column;
  .header {
    width:     100%;
    max-width: 1400px;
    margin:    0 auto;
  }
  main {
    flex: 1 0 auto;
  }

  .container {
    width:     100%;
    max-width: 940px;
    margin:    0 auto;
  }
}


.header {
  &__background {
    padding:          15px;
    height:           675px;
    background-color: #000;
    background-image: url("./images/Camada_3.png");
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    align-items:      center;
    .center {
      display:        flex;
      flex-direction: column;
      align-items:    flex-end;
      h1 {
        color:          #ffffff;
        font-family:    SegoeUI, sans-serif;
        font-size:      80px;
        font-weight:    400;
        text-transform: uppercase;
        margin-bottom:  60px;
      }
      a {
        display:          inline-block;
        padding:          19px 75px 21px 75px;
        background-color: #000000;
        color:            #ffffff;
        font-family:      "Myriad Pro", sans-serif;
        font-size:        14px;
        font-weight:      400;
        text-transform:   uppercase;
        text-decoration:  none;
        &:hover {
          opacity: .7;
        }
        &:active {
          color: #ff702f;
        }
      }
    }
  }
  &__containerUp {
    width:            100%;
    padding:          15px 89px;
    position:         fixed;
    z-index: 10;
    display:          flex;
    justify-content:  space-between;
    background-color: #000;
    height:           109px;
    .header__menu {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      .header__logo {
        margin-right:    50px;
        display:         flex;
        align-items:     flex-end;
        justify-content: center;
        position:        relative;
        #front {
          width:    53px;
          height:   51px;
          position: absolute;
          right:    16px;
        }
        #back {
          width:  42px;
          height: 40px;
        }
      }
      a {
        text-decoration: none;
        font-family:     "Myriad Pro", sans-serif;
        font-size:       13px;
        font-weight:     400;
        text-transform:  uppercase;
        color:           rgb(255, 255, 255);
        margin-left:     10px;
        &:hover {
          opacity: .7;
        }
        &:active {
          color: #ff702f;
        }
      }
    }

    .header__search {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      #magnifier {
        width:        25px;
        height:       24px;
        margin-right: 26px;
      }
      #lock {
        width:        14px;
        height:       16px;
        margin-right: 8px;
      }
      span {
        color: #ffffff;
      }
    }
  }
}


.footer {
  flex-shrink:      0;
  font-family:      "Myriad Pro", sans-serif;
  background-color: #000000;
  padding:          79px 15px 60px 15px;
  color:            #fff;

  .footer_menu {
    display:         flex;
    justify-content: space-between;
    flex-wrap:       wrap;

    ul {
      padding: 0;

      li {
        list-style: none;
        margin:     10px 0;
      }
    }

    h4 {
      text-transform: uppercase;
      font-size:      17px;
      font-weight:    400;
      color:          #ffffff;
      margin-bottom:  20px;
    }

    a {
      font-size:       14px;
      color:           #ffffff;
      opacity:         .8;
      text-decoration: none;
      &:hover {
        color: #ff6e1f;
      }
      &:active {
        opacity: .5;
      }
    }

    .ul {
      .input {
        margin-bottom: 61px;
        position:      relative;
        input {
          width:   220px;
          height:  42px;
          padding: 0 65px 0 14px;
          border:  #000000 2px solid;
          &::placeholder {
            opacity: .4;
          }
          &:focus {
            border: #dd9243 solid 2px;
          }
          &:hover {
            border: rgb(255, 110, 31) 3px solid;
          }
        }
        button {
          background-color: rgba(0, 0, 0, 0.14);
          height:           38px;
          width:            58px;
          position:         absolute;
          right:            2px;
          top:              2px;
          text-transform:   uppercase;
          border:           none;
          box-shadow:       none;
          font-size:        15px;
          font-weight:      400;
          line-height:      30px;
          cursor:           pointer;
          &:hover {
            background-color: rgb(255, 110, 31);
            &:active {
              opacity: .6;
            }
          }
        }
      }
      .images {
        a {
          transition-duration: 0.3s;
          &:hover {
            transform: rotate(20deg);
          }
          &:active {
            opacity: .6;
          }
        }
        display:         flex;
        align-items:     center;
        justify-content: space-between;
        img {
          width: 17px;
        }
      }
    }
  }

  .footer_language {
    display:         flex;
    justify-content: space-between;
    margin-top:      69px;
    width:           100%;

    p {
      color:       #ffffff;
      font-size:   14px;
      font-weight: 400;
    }

    .footer_languageSelect {
      position: relative;
      cursor:   pointer;

      .change_region {
        span {
          &:hover {
            color: rgba(255, 110, 31, 0.57);
          }
          &:active {
            opacity: .6;
          }
        }
        img {
          margin-right: 11px;
        }
      }

      ul {
        background-color: #ffffff;
        display:          none;
        position:         absolute;
        bottom:           20px;
        right:            0;
        width:            110%;
        border-radius:    4px;
        padding-left:     10%;

        li {
          margin: 0;
          color:  #000;
          img {
            margin-right: 16px;
            width:        14px;
          }
        }
      }

      &:active {
        ul {
          display: block;
        }
      }
    }
  }
}


@media screen and (max-width: 940px) {
  .header {
    &__container {
      .header__containerUp {
        padding: 15px 27px;
      }
      .header__background {
        .center {
          display:        flex;
          flex-direction: column;
          align-items:    flex-start;
        }
      }
    }
  }
  .footer {
    .footer_menu {
      display:   flex;
      flex-wrap: wrap;

      .ul {
        display:         flex;
        justify-content: space-between;
        flex-wrap:       wrap;
        width:           66%;

        .heading {
          width: 100%;
        }

        .images {
          margin-left: 30px;
          display:     flex;
          width:       218px;
          height:      42px;
        }

        .input {
          margin-bottom: 40px;
        }
      }

      .footer_language {
        margin-top:      0;
        display:         flex;
        flex-direction:  column-reverse;
        justify-content: center;
        align-items:     flex-end;
        width:           30%;

        &Select {
          margin-bottom: 20px;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .footer {
    .footer_menu {
      .footer__list {
        width: 50%;
      }

      .footer__list2 {
        width: 50%;

        ul {
          li {
            margin: 10px 0;

            span {
              display: none;
            }
          }
        }
      }

      .customer {
        width: 100%;

      }

      .ul {
        width:          100%;
        margin:         33px 0 0 0;
        display:        flex;
        flex-direction: column;
        align-items:    center;

        .images {
          margin: 0;
        }

        .heading {
          display:         flex;
          justify-content: center;
        }

        .input {
          width: 220px;

          label {
            width: 220px;

            input {
              width: 100%;
            }
          }
        }
      }

      .footer_language {
        width:       100%;
        align-items: center;
      }
    }
  }
}

@media screen and(max-width: 540px) {
  .header {
    &__container {
      .header__containerUp {
        a {
          display: none;
        }
        .header__search {
          display:         flex;
          justify-content: space-between;
          width:           70%;
        }
      }
      .header__background {
        .center {
          display:        flex;
          flex-direction: column;
          align-items:    center;
          width:          100%;
          h1 {
            text-align: center;
          }
          a {
            text-align: center;
            width:      100%;
          }
        }
      }
    }
  }
  .footer {
    .footer_menu {
      .ul {
        .input {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }
    }
  }
}