* {
  box-sizing: border-box;
  outline: none; }

body, html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }
  body .header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; }
  body main {
    flex: 1 0 auto; }
  body .container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto; }

.header__background {
  padding: 15px;
  height: 675px;
  background-color: #000;
  background-image: url("./images/Camada_3.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header__background .center {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .header__background .center h1 {
      color: #ffffff;
      font-family: SegoeUI, sans-serif;
      font-size: 80px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 60px; }
    .header__background .center a {
      display: inline-block;
      padding: 19px 75px 21px 75px;
      background-color: #000000;
      color: #ffffff;
      font-family: "Myriad Pro", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none; }
      .header__background .center a:hover {
        opacity: .7; }
      .header__background .center a:active {
        color: #ff702f; }
.header__containerUp {
  width: 100%;
  padding: 15px 89px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  height: 109px; }
  .header__containerUp .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__containerUp .header__menu .header__logo {
      margin-right: 50px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative; }
      .header__containerUp .header__menu .header__logo #front {
        width: 53px;
        height: 51px;
        position: absolute;
        right: 16px; }
      .header__containerUp .header__menu .header__logo #back {
        width: 42px;
        height: 40px; }
    .header__containerUp .header__menu a {
      text-decoration: none;
      font-family: "Myriad Pro", sans-serif;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      color: white;
      margin-left: 10px; }
      .header__containerUp .header__menu a:hover {
        opacity: .7; }
      .header__containerUp .header__menu a:active {
        color: #ff702f; }
  .header__containerUp .header__search {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__containerUp .header__search #magnifier {
      width: 25px;
      height: 24px;
      margin-right: 26px; }
    .header__containerUp .header__search #lock {
      width: 14px;
      height: 16px;
      margin-right: 8px; }
    .header__containerUp .header__search span {
      color: #ffffff; }

.footer {
  flex-shrink: 0;
  font-family: "Myriad Pro", sans-serif;
  background-color: #000000;
  padding: 79px 15px 60px 15px;
  color: #fff; }
  .footer .footer_menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .footer .footer_menu ul {
      padding: 0; }
      .footer .footer_menu ul li {
        list-style: none;
        margin: 10px 0; }
    .footer .footer_menu h4 {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 20px; }
    .footer .footer_menu a {
      font-size: 14px;
      color: #ffffff;
      opacity: .8;
      text-decoration: none; }
      .footer .footer_menu a:hover {
        color: #ff6e1f; }
      .footer .footer_menu a:active {
        opacity: .5; }
    .footer .footer_menu .ul .input {
      margin-bottom: 61px;
      position: relative; }
      .footer .footer_menu .ul .input input {
        width: 220px;
        height: 42px;
        padding: 0 65px 0 14px;
        border: #000000 2px solid; }
        .footer .footer_menu .ul .input input::placeholder {
          opacity: .4; }
        .footer .footer_menu .ul .input input:focus {
          border: #dd9243 solid 2px; }
        .footer .footer_menu .ul .input input:hover {
          border: #ff6e1f 3px solid; }
      .footer .footer_menu .ul .input button {
        background-color: rgba(0, 0, 0, 0.14);
        height: 38px;
        width: 58px;
        position: absolute;
        right: 2px;
        top: 2px;
        text-transform: uppercase;
        border: none;
        box-shadow: none;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        cursor: pointer; }
        .footer .footer_menu .ul .input button:hover {
          background-color: #ff6e1f; }
          .footer .footer_menu .ul .input button:hover:active {
            opacity: .6; }
    .footer .footer_menu .ul .images {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .footer .footer_menu .ul .images a {
        transition-duration: 0.3s; }
        .footer .footer_menu .ul .images a:hover {
          transform: rotate(20deg); }
        .footer .footer_menu .ul .images a:active {
          opacity: .6; }
      .footer .footer_menu .ul .images img {
        width: 17px; }
  .footer .footer_language {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    width: 100%; }
    .footer .footer_language p {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400; }
    .footer .footer_language .footer_languageSelect {
      position: relative;
      cursor: pointer; }
      .footer .footer_language .footer_languageSelect .change_region span:hover {
        color: rgba(255, 110, 31, 0.57); }
      .footer .footer_language .footer_languageSelect .change_region span:active {
        opacity: .6; }
      .footer .footer_language .footer_languageSelect .change_region img {
        margin-right: 11px; }
      .footer .footer_language .footer_languageSelect ul {
        background-color: #ffffff;
        display: none;
        position: absolute;
        bottom: 20px;
        right: 0;
        width: 110%;
        border-radius: 4px;
        padding-left: 10%; }
        .footer .footer_language .footer_languageSelect ul li {
          margin: 0;
          color: #000; }
          .footer .footer_language .footer_languageSelect ul li img {
            margin-right: 16px;
            width: 14px; }
      .footer .footer_language .footer_languageSelect:active ul {
        display: block; }

@media screen and (max-width: 940px) {
  .header__container .header__containerUp {
    padding: 15px 27px; }
  .header__container .header__background .center {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

  .footer .footer_menu {
    display: flex;
    flex-wrap: wrap; }
    .footer .footer_menu .ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 66%; }
      .footer .footer_menu .ul .heading {
        width: 100%; }
      .footer .footer_menu .ul .images {
        margin-left: 30px;
        display: flex;
        width: 218px;
        height: 42px; }
      .footer .footer_menu .ul .input {
        margin-bottom: 40px; }
    .footer .footer_menu .footer_language {
      margin-top: 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
      width: 30%; }
      .footer .footer_menu .footer_languageSelect {
        margin-bottom: 20px; } }
@media screen and (max-width: 768px) {
  .footer .footer_menu .footer__list {
    width: 50%; }
  .footer .footer_menu .footer__list2 {
    width: 50%; }
    .footer .footer_menu .footer__list2 ul li {
      margin: 10px 0; }
      .footer .footer_menu .footer__list2 ul li span {
        display: none; }
  .footer .footer_menu .customer {
    width: 100%; }
  .footer .footer_menu .ul {
    width: 100%;
    margin: 33px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .footer_menu .ul .images {
      margin: 0; }
    .footer .footer_menu .ul .heading {
      display: flex;
      justify-content: center; }
    .footer .footer_menu .ul .input {
      width: 220px; }
      .footer .footer_menu .ul .input label {
        width: 220px; }
        .footer .footer_menu .ul .input label input {
          width: 100%; }
  .footer .footer_menu .footer_language {
    width: 100%;
    align-items: center; } }
@media screen and (max-width: 540px) {
  .header__container .header__containerUp a {
    display: none; }
  .header__container .header__containerUp .header__search {
    display: flex;
    justify-content: space-between;
    width: 70%; }
  .header__container .header__background .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .header__container .header__background .center h1 {
      text-align: center; }
    .header__container .header__background .center a {
      text-align: center;
      width: 100%; }

  .footer .footer_menu .ul .input {
    width: 100%; }
    .footer .footer_menu .ul .input input {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
